openapi: 3.0.0
servers:
  - description: Shadeform Production
    url: https://api.shadeform.ai/v1
info:
  description: 'Shadeform is a single API and platform for deploying and managing cloud GPUs.'
  version: 1.0.0
  title: Shadeform API
  contact:
    name: Ronald Ding
    email: ronald@shadeform.ai
    url: www.shadeform.ai
security:
  - ApiKeyAuth: []
paths:
  /instances:
    get:
      summary: /instances
      operationId: instances
      description: 'Get active and pending instances.'
      responses:
        '200':
          description: Returns an InstancesResponse object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstancesResponse'
  /instances/types:
    get:
      parameters:
        - in: query
          name: cloud
          schema:
            type: string
          example: aws
          description: "Filter the instance type results by cloud."
        - in: query
          name: region
          schema:
            type: string
          example: us-east-1a
          description: "Filter the instance type results by region."
        - in: query
          name: num_gpus
          schema:
            type: string
          example: 1
          description: "Filter the instance type results by the number of gpus."
        - in: query
          name: gpu_type
          schema:
            type: string
          example: A100_80G
          description: "Filter the instance type results by gpu type."
        - in: query
          name: shade_instance_type
          schema:
            type: integer
          example: A100_80G
          description: "Filter the instance type results by the shade instance type."
        - in: query
          name: available
          schema:
            type: boolean
          example: true
          description: "Filter the instance type results by availability."
        - in: query
          name: sort
          schema:
            type: string
            enum:
              - price
          example: price
          description: "Sort the order of the instance type results."
      summary: /instances/types
      operationId: GetInstanceTypes
      description: 'Return all the GPU instance types with their corresponding availability and specs.'
      responses:
        '200':
          description: Returns an InstanceTypesResponse object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceTypesResponse'
  /instances/create:
    post:
      summary: /instances/create
      operationId: Create
      description: 'Create a new GPU instance.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRequest'
      responses:
        '200':
          description: Returns a CreateResponse object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateResponse'
  '/instances/{id}/info':
    get:
      parameters:
        - in: path
          name: id
          required: true
          example: d290f1ee-6c54-4b01-90e6-d701748f0851
          schema:
            type: string
            minimum: 1
          description: The instance id
      summary: /instances/{id}/info
      operationId: instances/info
      description: "Get details for the specified instance in the url."
      responses:
        '200':
          description: "Return an instance object."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
  '/instances/{id}/delete':
    parameters:
      - in: path
        name: id
        required: true
        example: d290f1ee-6c54-4b01-90e6-d701748f0851
        schema:
          type: string
          minimum: 1
        description: The instance id
    post:
      summary: /instances/{id}/delete
      operationId: Delete
      description: "Delete an instance. Some cloud providers may only allow deletion of an instance after it has moved to the 'active' status."
      responses:
        '200':
          description: Confirms the deletion of an instance
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
  schemas:
    InstanceTypesResponse:
      description: Response of /instances/types
      type: object
      required:
        - instance_types
      properties:
        instance_types:
          type: array
          items:
            $ref: '#/components/schemas/InstanceType'
    InstanceType:
      description: "Information about a specific instance type offered by Shadeform."
      type: object
      required:
        - cloud
        - region
        - shade_instance_type
        - cloud_instance_type
        - configuration
        - hourly_price
        - availability
      properties:
        cloud:
          $ref: '#/components/schemas/Cloud'
        region:
          $ref: '#/components/schemas/Region'
        shade_instance_type:
          $ref: '#/components/schemas/ShadeInstanceType'
        cloud_instance_type:
          $ref: '#/components/schemas/CloudInstanceType'
        configuration:
          allOf:
            - $ref: '#/components/schemas/Configuration'
            - type: object
              required:
                - os_options
              properties:
                os_options:
                  type: array
                  items:
                    type: string
                  example: ["ubuntu22.04_cuda12.2_shade_os", "ubuntu20.04_cuda12.0_shade_os"]
                  description: 'The list of available operating systems for the instance.'
        hourly_price:
          $ref: '#/components/schemas/HourlyPrice'
        availability:
          type: array
          items:
            $ref: '#/components/schemas/Availability'
          example:
            - region: us-central-1
              available: true
            - region: us-central-2
              available: false
    InstancesResponse:
      type: object
      required:
        - instances
      properties:
        instances:
          type: array
          items:
            $ref: '#/components/schemas/Instance'
    Instance:
      type: object
      required:
        - id
        - cloud
        - region
        - shade_instance_type
        - cloud_instance_type
        - cloud_assigned_id
        - shade_cloud
        - name
        - configuration
        - ip
        - ssh_user
        - ssh_port
        - status
        - cost_estimate
        - hourly_price
        - created_at
        - deleted_at
      properties:
        id:
          $ref: '#/components/schemas/Id'
        cloud:
          $ref: '#/components/schemas/Cloud'
        region:
          $ref: '#/components/schemas/Region'
        shade_instance_type:
          $ref: '#/components/schemas/ShadeInstanceType'
        cloud_instance_type:
          $ref: '#/components/schemas/CloudInstanceType'
        cloud_assigned_id:
          $ref: '#/components/schemas/CloudAssignedId'
        shade_cloud:
          $ref: '#/components/schemas/ShadeCloud'
        name:
          $ref: '#/components/schemas/Name'
        configuration:
          allOf:
            - $ref: '#/components/schemas/Configuration'
            - type: object
              required:
              - os
              properties:
                os:
                  type: string
                  example: ubuntu_22_shade_os
                  description: "The operating system of the instance."
        ip:
          $ref: '#/components/schemas/Ip'
        ssh_user:
          $ref: '#/components/schemas/SshUser'
        ssh_port:
          $ref: '#/components/schemas/SshPort'
        status:
          $ref: '#/components/schemas/Status'
        cost_estimate:
          $ref: '#/components/schemas/CostEstimate'
        hourly_price:
          $ref: '#/components/schemas/HourlyPrice'
        launch_configuration:
          $ref: '#/components/schemas/LaunchConfiguration'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        deleted_at:
          $ref: '#/components/schemas/DeletedAt'
    Configuration:
      type: object
      required:
        - memory_in_gb
        - storage_in_gb
        - vcpus
        - num_gpus
        - gpu_type
        - interconnect
        - os
        - os_options
        - vram_per_gpu_in_gb
      properties:
        memory_in_gb:
          type: integer
          example: 12
          description: "The amount of memory for the instance in gigabytes. Note that this is not VRAM. VRAM is determined by the GPU type and the number of GPUs."
        storage_in_gb:
          type: integer
          example: 256
          description: 'The amount of storage for the instance. If this storage is too low for the instance type, please email founders@shadeform.ai as the storage may be adjustable.'
        vcpus:
          type: integer
          example: 6
          description: "The number of vCPUs for the instance."
        num_gpus:
          type: integer
          example: 1
          description: "The number of GPUs for the instance."
        gpu_type:
          type: string
          example: A100
          description: "The type of GPU for the instance."
        interconnect:
          type: string
          example: pcie
          description: "The type of interconnect for the GPU."
        vram_per_gpu_in_gb:
          type: integer
          example: 48
          description: "The video memory per GPU for the instance in gigabytes."
    Availability:
      type: object
      required:
        - region
        - available
      properties:
        region:
          $ref: '#/components/schemas/Region'
        available:
          type: boolean
          example: true
          description: "Indicate whether the instance is available in the region."
    CreateRequest:
      type: object
      required:
        - cloud
        - region
        - shade_instance_type
        - shade_cloud
        - name
      properties:
        cloud:
          $ref: '#/components/schemas/Cloud'
        region:
          $ref: '#/components/schemas/Region'
        shade_instance_type:
          $ref: '#/components/schemas/ShadeInstanceType'
        shade_cloud:
          $ref: '#/components/schemas/ShadeCloud'
        name:
          $ref: '#/components/schemas/Name'
        launch_configuration:
          $ref: '#/components/schemas/LaunchConfiguration'
        os:
          type: string
          example: "ubuntu22.04_cuda12.2_shade_os" 
          description: 'The operating system of the instance.'
    LaunchConfiguration:
      type: object
      required:
        - type
      description: 'Defines automatic actions after the instance becomes active.'
      properties:
        type:
          type: string
          example: docker
          enum:
            - docker
            - script
          description: "Specifies the type of launch configuration. Use 'docker' to specify a container to spin up at launch. Use 'script' to provide a startup script that gets run at launch."
        docker_configuration:
          $ref: '#/components/schemas/DockerConfiguration'
        script_configuration:
          $ref: '#/components/schemas/ScriptConfiguration'
    DockerConfiguration:
      type: object
      required:
        - image
      description: "May only be used if launch_configuration.type is 'docker'. Use docker_configuration to automatically pull and run a docker image when the instance is ready."
      properties:
        image:
          type: string
          example: vllm/vllm-openai:latest
          description: 'Specifies the docker image to be pulled and run on the instance at startup.'
        args:
          type: string
          example: --model mistralai/Mistral-7B-v0.1
          description: 'Specifies the container arguments passed into the image at run time.'
        shared_memory_in_gb:
          type: integer
          example: 8
          description: "Describes the amount of shared memory to allocate for the instance. Equivalent to using the --shm-size flag in the docker cli. If shared_memory_in_gb is not specified, then the container will use the host namespace which is the equivalent of --ipc=host."
        envs:
          type: array
          description: "List of environment variable name-value pairs that will be passed to the docker container."
          items:
            $ref: '#/components/schemas/Env'
        port_mappings:
          type: array
          description: "List of port mappings between the host instance and the docker container. Equivalent of -p flag for docker run command."
          items:
            $ref: '#/components/schemas/PortMappings'
        volume_mounts:
          type: array
          description: "List of volume mounts between the host instance and the docker container. Equivalent of -v flag for docker run command."
          items:
            $ref: '#/components/schemas/VolumeMounts'
    ScriptConfiguration:
      type: object
      required:
        - base64_script
      description: "May only be used if launch_configuration.type is 'script'. Configures a startup script to be run automatically after the instance is active."
      properties:
        base64_script:
          type: string
          description: "A startup script that is base64 encoded. We recommend using https://www.base64encode.org/"
          example: IyEvYmluL2Jhc2gKCiMgRW5kbGVzcyBsb29wCndoaWxlIHRydWUKZG8KICAgICMgRmV0Y2ggYSBjYXQgZmFjdCB3aXRoIGEgbWF4aW11bSBsZW5ndGggb2YgMTQwIGNoYXJhY3RlcnMKICAgIGN1cmwgLS1uby1wcm9ncmVzcy1tZXRlciBodHRwczovL2NhdGZhY3QubmluamEvZmFjdD9tYXhfbGVuZ3RoPTE0MAoKICAgICMgUHJpbnQgYSBuZXdsaW5lIGZvciByZWFkYWJpbGl0eQogICAgZWNobwoKICAgICMgU2xlZXAgZm9yIDMgc2Vjb25kcyBiZWZvcmUgdGhlIG5leHQgaXRlcmF0aW9uCiAgICBzbGVlcCAzCmRvbmUKCgo=
    Env:
      type: object
      required:
        - name
        - value
      description: "Environment variables for the container image."
      properties:
        name:
          type: string
          example: HUGGING_FACE_HUB_TOKEN
          description: "Name of the environment variable"
        value:
          type: string
          example: hugging_face_api_token
          description: "Value of the environment variable"
    PortMappings:
      type: object
      required:
        - host_port
        - container_port
      description: "Maps the public instance port to a port on the container."
      properties:
        host_port:
          type: integer
          example: 80
          description: "Port of the host."
        container_port:
          type: integer
          example: 8000
          description: "Port of the container."
    VolumeMounts:
      type: object
      required:
        - host_path
        - container_path
      description: "Mounts the host volume to a container file path."
      properties:
        host_path:
          type: string
          example: "~/.cache/huggingface"
          description: "Filepath of the host."
        container_path:
          type: string
          example: "/root/.cache/huggingface"
          description: "Filepath of the container."
    CreateResponse:
      type: object
      required:
        - id
        - cloud_assigned_id
      description: Response of the /instances/create API call
      properties:
        id:
          $ref: '#/components/schemas/Id'
        cloud_assigned_id:
          $ref: '#/components/schemas/CloudAssignedId'
    Cloud:
      type: string
      example: massedcompute
      enum:
        - aws
        - azure
        - lambdalabs
        - tensordock
        - runpod
        - latitude
        - jarvislabs
        - oblivus
        - paperspace
        - datacrunch
        - massedcompute
        - vultr
      description: 'Specifies the underlying cloud provider that the instance is launched in. For the latest list of supported clouds, call the /instances/types API for all clouds.'
    Region:
      type: string
      example: us-central-2
      description: 'Specifies the region in the underlying cloud provider that the instance is launched in. For the latest list of supported regions per cloud, call the instances/types API for all regions.'
    Id:
      type: string
      format: uuid
      example: d290f1ee-6c54-4b01-90e6-d701748f0851
      description: 'The unique identifier for an instance managed by Shadeform. Used in the endpoint for the /instances/{id}/info and /instances/{id}/delete APIs.'
    CloudAssignedId:
      type: string
      example: 13b057d7-e266-4869-985f-760fe75a78b3
      description: The unique identifier of the instance issued by the underlying cloud provider. This value is not useful at this time.
    Name:
      type: string
      example: cool-gpu-server
      description: The name of the instance
    ShadeInstanceType:
      type: string
      example: A6000
      description: 'The Shadeform standardized instance identifier for instances with a specific GPU configuration. We map the standardized Shade Instance Type to each cloud provider''s instance type. For example, launching an ''A100'' Shade Instance Type in TensorDock and in Paperspace will ensure that both instances will have an A100 GPU.'
    ShadeCloud:
      type: boolean
      example: true
      description: 'If Shade Cloud is true, the instance will be launched in Shadeform''s managed account. If Shade Cloud is false, Shadeform will check if you have provided an API Access Key for the specified cloud and launch the instance into your own cloud provider account. To launch in your own cloud provider account, you need to add your API Access Key for the cloud via the Shadeform Cloud Access Settings page at https://platform.shadeform.ai/settings/cloudaccess.'
    CloudInstanceType:
      type: string
      example: gpu_1x_a6000
      description: 'The instance type for the underlying cloud provider. The CloudInstanceType is determined by the combination of the shade_instance_type, cloud, and num_gpus fields'
    HourlyPrice:
      type: integer
      example: 210
      description: The base hourly price of the instance in cents. This cost does not include the Shadeform platform fee.
    Ip:
      type: string
      example: 1.0.0.1
      description: 'The public IP address of the instance. In select cases, it may also be the DNS.'
    SshUser:
      type: string
      example: shadeform
      description: The SSH user used to SSH into the instance.
    SshPort:
      type: integer
      example: 22
      description: 'The SSH port of the instance. In most cases, this will be port 22 but for some clouds, this may be a different port.'
    Status:
      type: string
      example: active
      enum:
        - pending
        - active
        - deleted
      description: The status of the instance.
    CostEstimate:
      type: string
      example: '103.4'
      description: The cost incurred by the instance. This cost is only the cost billed by Shadeform. This does not include the underlying cloud provider cost if you are managing instances in your own cloud provider account.
    CreatedAt:
      type: string
      format: date-time
      example: '2016-08-29T09:12:33.001Z'
      description: The timestamp of when the instance was created in UTC.
    DeletedAt:
      type: string
      format: date-time
      example: '2016-08-29T09:12:33.001Z'
      description: The timestamp of when the instance was deleted in UTC
